/* Desktop */
@media screen and (min-width: 980px) {
    .logo {
        margin: 142px auto 125px auto;
    }

    .login {
        width: calc(600px - 48px * 2);
        padding: 48px 48px 60px 48px;
    }

    .login__title {
        text-align: center;
        margin: 0 0 48px 0;

        line-height: 29px;
    }

    .login__input {
        margin-bottom: 32px;
    }

    .login__submit {
        margin: 48px auto 0 auto;
    }
}

/* Tablet */
@media screen and (max-width: 979px) {
    .logo {
        margin: 142px auto 125px auto;
    }

    .login {
        width: calc(450px - 48px * 2);
        padding: 48px 48px 60px 48px;
    }

    .login__title {
        text-align: center;
        margin: 0 0 48px 0;

        line-height: 29px;
    }

    .login__input {
        margin-bottom: 32px;
    }

    .login__submit {
        margin: 48px auto 0 auto;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .logo {
        width: 182px;
        margin: 43px auto 37px auto;
    }

    .login {
        width: calc(95% - 24px * 2);
        padding: 32px 24px 48px 24px;
    }

    .login__title {
        text-align: center;
        margin: 0 0 32px 0;

        line-height: 24px;
    }

    .login__input {
        margin-bottom: 24px;
    }

    .login__submit {
        margin: 40px auto 0 auto;
    }

}

body {
    margin: 0;
    background-image: url("../img/background.png");
}

.logo {
    display: block;
}

.login {
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

.login__title {
    font-family: GothamBold, serif;
    color: #262626;
    font-size: 24px;
    opacity: 0.8;
}

.login__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 0 13px 15px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;

    font-family: Gotham, serif;
    color: #262626;
    font-size: 16px;
    line-height: 20px;
}

.login__input::placeholder {
    opacity: 0.4;
}

.login__input:focus {
    opacity: 0.8;
}

.login__error {
    display: none;
    margin: 0;
    padding: 11px 0 9px 16px;
    background-color: rgba(237, 65, 89, 0.25);
    border-radius: 4px;

    font-family: Gotham, serif;
    color: #ED4159;
    font-size: 14px;
    line-height: 20px;
}

.login__submit {
    display: block;
    height: 48px;
    width: 145px;
    border: 0;
    border-radius: 100px;
    background-color: #ED4159;
    box-shadow: 0 4px 16px rgba(237, 65, 89, 0.4);

    font-family: Gotham, serif;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

.login__submit:hover,
.login__submit:active {
    background-color: white;
    color: #ED4159;
}

.login__submit:hover {
    box-shadow: 0 6px 20px rgba(237, 65, 89, 0.4);
}

.login__submit:active {
    box-shadow: 0 2px 10px rgba(237, 65, 89, 0.5);
}


