/* Desktop */
@media screen and (min-width: 980px) {
    .user {
        width: 600px;
    }
}

/* Tablet */
@media screen and (max-width: 979px) {
    .user {
        width: 450px;
    }
}

/* Desktop and tablet */
@media screen and (min-width: 501px) {
    .logo {
        margin: 142px auto 125px auto;
    }

    .user {
        padding: 48px 0 60px;
    }

    .user__pictures {
        width: 128px;
    }

    .user__name {
        margin: 40px 0 0 0;

        line-height: 34px;
        letter-spacing: 0.23px;
    }

    .user__logout {
        margin: 56px auto 0 auto;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .logo {
        margin: 43px auto 37px auto;
        width: 182px;
    }

    .user {
        width: 90%;
        padding: 32px 0 48px;
    }

    .user__pictures {
        width: 86px;
    }

    .user__name {
        margin: 24px 0 0 0;

        line-height: 22px;
        letter-spacing: 0.15px;
    }

    .user__logout {
        margin: 39px auto 0 auto;
    }
}

body {
    margin: 0;
    background-image: url("../img/background.png");
}

.logo {
    display: block;
}

.user {
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

.user__pictures {
    display: block;
    margin: auto;
    border-radius: 360px;
}

.user__name {
    font-size: 24px;
    font-family: GothamBold, serif;
    opacity: 0.8;
    mix-blend-mode: normal;
}

.user__logout {
    display: block;
    height: 48px;
    width: 145px;
    border: 0;
    border-radius: 100px;
    background-color: #ED4159;
    box-shadow: 0 4px 16px rgba(237, 65, 89, 0.4);

    font-family: Gotham, serif;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

.user__logout:hover,
.user__logout:active {
    background-color: white;
    color: #ED4159;
}

.user__logout:hover {
    box-shadow: 0 6px 20px rgba(237, 65, 89, 0.4);
}

.user__logout:active {
    box-shadow: 0 2px 10px rgba(237, 65, 89, 0.5);
}



